<h1 class="logo">
    <a href="/" class="logo-link"> Super Yajid </a>
</h1>

<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a href="/" class="navbar__link">Home</a>
        </li>
        <li class="navbar__item">
            <a href="/productos" class="navbar__link">Productos</a>
        </li>
        <li class="navbar__item">
            <a href="/formulario" class="navbar__link">Añadir producto</a>
        </li>
        <li class="navbar__item">
            <a href="chat.html" class="navbar__link">Chat</a>
        </li>
    </ul>
</nav>