<h2>Lista de productos en existencia</h2>

{{> navegacion}}

{{#if listExists}}
    <ul class="list-group list-group-horizontal">
        {{#each productos}}
        <li class="list-group-item">{{this.nombre}} ${{this.precio}}, id:{{this.id}}</li>
        {{/each}}
    </ul>
{{/if}}