<div class="container d-flex flex-column justify-content-center align-center text-center" style="height: 100vh;">
    <h1>{{title}}</h1>
    
    <hr>
    <div class="d-flex justify-content-center align-center text-center">
        <a href="/" class="btn btn-primary my-3">Ir a la página principal</a>
    </div>
</div>