<div class="container d-flex flex-column justify-content-center align-center text-center" style="height: 100vh;">
    <h1 class="fs-1 fw-bold">Bienvenido</h1>
    <p class="fs-3 fw-semibold">Inicia seción o registrate</p>

    <div class="d-flex justify-content-center">

        {{!-- Iniciar sesión --}}
        <a href="/login" type="button" class="btn btn-success mx-1"> Iniciar Sesion </a>

        {{!-- Registrarse --}}
        <a href="/signup" type="button" class="btn btn-success mx-1"> Crear una cuenta </a>

    </div>
</div>