{{> navbar}}

<div class="container d-flex flex-column justify-content-center align-center text-center" style="height: 100vh;">
    <h1 class="fs-1 fw-bold">{{title}}</h1>
    <hr>
    <a href="/productos/{{id}}" class="btn btn-primary my-3">Regresar</a>
</div>