<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yajid</title>
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <style>
        html {
            font-size: 62.5%;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
        ul {
            list-style: none;
        }
        a {
            text-decoration: none;
        }
        body {
            font-size: 1.7rem;
        }
        .logo {
            padding: 2rem 3rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 5rem;
        }
        .logo-link {
            color: rgb(25, 93, 160);
        }

        .navbar {
            padding: 0 3rem;
        }
        .navbar__list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
        }
        .navbar__item {
            margin-right: 1.5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.7rem;
        }
        .navbar__link {
            outline: solid 2px rgb(25, 93, 160);
            color: rgb(25, 93, 160);
            padding: .5rem 1.5rem;
            border-radius: 10rem;
            transition: all .2s ease-in-out;
        }
        .navbar__link:hover {
            background: rgb(25, 93, 160);
            color: #fff;
            outline-offset: .2rem;
        }
        .home {
            width: 100%;
            height: 70vh;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }
        .home__title {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 5rem;
        }
        .home__description {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 2rem;
        }

        .products {
            width: 100%;
            padding: 0 2rem;
        }
        .products__title {
            color: rgb(25, 93, 160);
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 4rem;
            text-align: center;
        }
        .products__list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1rem;
            padding: 2rem 0;
        }
        .products__item {
            width: 100%;
            height: 40rem;
            padding: 2rem;
            overflow: hidden;
            outline: solid 2px rgb(25, 93, 160);
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }
        .products__image {
            width: 100%;
            height: 60%;
            object-fit: contain;
            border: solid 1px red;
        }
        .products__id {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.7rem;
            padding-top: 1rem;
        }
        .products__name {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 2rem;
        }
        .products__description {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
            color: rgb(25, 93, 160);
            padding-bottom: 1rem;
        }

        .form {
            width: 100%;
            padding: 0 2.5rem;
        }
        .form__title {
            margin-top: 3rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 4rem;
            text-align: center;
        }
        .form__form {
        }
        .form__container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            padding: 2rem 0;
        }
        .form__group {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }
        .form__label {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.7rem;
        }
        .form__input {
            width: 100%;
            border: solid 1px rgb(25, 93, 160);
            border-radius: 10rem;
            padding: 1.5rem 2rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.7rem;
            outline: none;
        }
        .form__input:focus {
            border: solid 1px rgb(25, 93, 160);
            outline: solid 2px #fff;
            outline-offset: -.5rem;
            background: rgb(25, 93, 160);
            color: #fff;
        }
        .form__buttons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }
        .form__button {
            height: 5rem;
            border: solid 1px rgb(25, 93, 160);
            border-radius: 10rem;
            padding: 0 3rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.7rem;
            outline: none;
            cursor: pointer;
        }
    </style>
</head>
<body>

    {{{body}}}
    
</body>
</html>