<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Incluir el head -->
    <%- include('../partials/head'); %>
</head>
<body>

    <h1>Rellena el formulario para agreagar un nuevo producto</h1>

    <!-- Incluir la barra de navegacion -->
    <%- include('../partials/navbar'); %>

    <form action="http://localhost:8080/api/productos" method="post">
        <div class="row g-3">
            <div class="col-sm-7">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre del producto" aria-label="Nombre del producto">
            </div>
            <div class="col-sm">
                <input type="number" name="precio" class="form-control" placeholder="Precio del producto" aria-label="Precio del producto">
            </div>
            <div class="col-sm">
                <input type="number" name="id" class="form-control" placeholder="ID del producto" aria-label="ID del producto">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Agregar Producto</button>
            </div>
        </div>
    </form>
    
</body>
</html>