<nav class="navbar bg-light justify-content-around">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a class="btn btn-outline-dark" aria-current="page" href="/">Inicio</a>
        <a class="btn btn-outline-dark" href="/productos">Ver productos</a>
        <a class="btn btn-outline-dark" href="/add-producto">Añadir un producto</a>
    </div>
</nav>