{{> navbar}}

<main class="form">
    <h2 class="form__title"> Rellena todos los campos para agregar un producto </h2>
    <form class="form__form" action="{{url}}" method="POST">
        <div class="form__container">
            <div class="form__group">
                <label for="id" class="form__label"> Id </label>
                <input type="text" name="id" id="id" class="form__input" placeholder="Id" required>
            </div>
            <div class="form__group">
                <label for="name" class="form__label"> Nombre </label>
                <input type="text" name="name" id="name" class="form__input" placeholder="Nombre" required>
            </div>
            <div class="form__group">
                <label for="price" class="form__label"> Precio </label>
                <input type="text" name="price" id="price" class="form__input" placeholder="Precio" required>
            </div>
            <div class="form__group">
                <label for="image" class="form__label"> Imagen </label>
                <input type="text" name="image" id="image" class="form__input" placeholder="Imagen" required>
            </div>
            <div class="form__group">
                <label for="description" class="form__label"> Descripcion </label>
                <input type="text" name="description" id="description" class="form__input" placeholder="Descripcion" required>
            </div>
            <div class="form__group">
                <label for="details" class="form__label"> Detalles </label>
                <input type="text" name="details" id="details" class="form__input" placeholder="Detalles" required>
            </div>
            <div class="form__group">
                <label for="code" class="form__label"> Codigo </label>
                <input type="text" name="code" id="code" class="form__input" placeholder="Codigo" required>
            </div>
            <div class="form__group">
                <label for="stock" class="form__label"> Stock </label>
                <input type="text" name="stock" id="stock" class="form__input" placeholder="Stock" required>
            </div>
            <div class="form__group">
                <label for="category" class="form__label"> Categoria </label>
                <input type="text" name="category" id="category" class="form__input" placeholder="Categoria" required>
            </div>
            <div class="form__group">
                <label for="subcategory" class="form__label"> Subcategoria </label>
                <input type="text" name="subcategory" id="subcategory" class="form__input" placeholder="Subcategoria" required>
            </div>
            <div class="form__group">
                <label for="status" class="form__label"> Estado </label>
                <input type="text" name="status" id="status" class="form__input" placeholder="Estado" required>
            </div>
        </div>
        <div class="form__buttons">
            <button type="submit" class="form__button"> Agregar </button>
        </div>
    </form>
</main>