{{> navbar}}

<main class="home">
    <h2 class="home__title"> Bienvenido a Yajid </h2>
    <p class="home__description"> Usa la barra de navegacion para moverte entre las diferentes secciones</p>
</main>